* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  cursor: none;
}
/* body::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
/* }  */
#crsr {
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  /* background-color: #fff; */
  border: 1px solid rgb(164, 145, 145);
  position: fixed;
  z-index: 9;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}
/* loading animation */
#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 15vh 5.4vw;
}

.line {
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  line-height: 1.1;
}
#line2 {
  /* background-color: red; */
  opacity: 1;
  font-family: "silk serif";
  width: 9vw;
  margin: 8vh 23vw;
  font-weight: 100;
  font-size: 1.43vw;
}
#line-p1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* background-color: bisque; */
  width: 20vw;
  height: 15vh;
}

#line-p1 #h5,
#line-p1 #h6 {
  font-size: 3.1vw;
  font-family: "silk serif";
  font-weight: 100;
}
#line-p1 #h5 {
  /* background-color: aquamarine; */
  text-align: right;
}

.line h1 {
  text-transform: uppercase;
  /* background-color: red; */
  font-size: 7.3vw;
  font-weight: 600;
}

h1 {
  position: relative; /* Ensure relative positioning for the h2 to be placed properly */
  display: inline-flex;
  align-items: center;
}
/* Static part */
.static-text {
  text-transform: uppercase;
  font-size: 7.3vw;
  font-weight: 600;
  color: #fff;
}
#h2 {
  position: absolute;
  left: calc(100% + 2vw);
  text-transform: uppercase;
  font-size: 7.3vw;
  font-weight: 600;
  animation-name: anime;
  animation-duration: 1.3s;
  opacity: 0;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 600;
    opacity: 0;
  }
  49% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 600;
    opacity: 1;
  }
  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
}

#main {
  position: relative;
  background-color: #030303;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}
#logo img {
  height: 10vh;
  width: 6vw;
  padding-left: 2vw;
}
#page1 nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw 4.6vw;
  /* background-color: aquamarine; */
}

#navsecond {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5vw;
}
#navsecond h4 {
  font-weight: 400;
}
/* .menu-opener {
  transition: opacity .35s cubic-bezier(.3,.86,.36,.95);
  background: none;
  padding: 0;
  border: 0;
  color: currentColor;
  display: flex;
  position: relative;
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
} */

.hero {
  /* background-color: red; */
  width: 72%;
  margin-left: 28%;
  
}
.hero:nth-child(2) {
  margin-top: 16vh;
}
.hero h1 {
  font-size: 7.5vw;
  text-transform: uppercase;
  line-height: 01;
  font-weight: 700;
}
